<h1 align="center">Burgers!</h1>
<div class="jumbotron">
  <h2>Add a Burger</h2>
  <form class="create">
    <div class="form-group">
      <label for="ca">burger Name:</label>
      <input type="text" id="bn" name="burger_name">
    </div>
    <button class="btn btn-outline-primary" type="submit">Add Burgers</button>
  </form>
</div>

<div class="row">
  <div class="col-6">
    <div class="jumbotron">
      <h3>Burgers ready to eat!</h3>
      <ul>
        {{#each burger_data}}
        {{#unless dataValues.devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  
</div>
